body {
    font-family: "メイリオ";
    width: 500px;
}

h1 {
    font-size: 20px;
    background-color: #f1f1f1;
    border-left: solid 4px red;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
}

form {
    margin: 0 auto;
    background-color: #fbfbfb;
    border-radius: 10px;
    border: 3px #ebebeb solid;
}

form div {
    padding: 15px;
}

.text, .textarea, .dropdown {
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;  
}

.submit {
    border: 1px solid lightgray;
    background: #bfbfbf;
    border-radius: 5px;
    border-bottom: 2px solid darkgray;
    color: white;
    padding: 4px 10px;
}